<%- include('./partials/header.ejs'); %>
<body>
<%- include('./partials/navbar.ejs'); %>
    <div class="container">
        <hr>
        <h3><%= receitas.titulo %></h3>
     <p><h3><%= receitas.descricao %></h3></p>
</body>
<%- include('./partials/footer.ejs'); %>
